/* CSS Document
/* Developed by Toonni Lomio
/* --------------------------
:: Color Scheme
--pink:#00b365;
--lightpink :#ff4dac;
--darkpink:#9c0053;
--blue:#007dea;
--red:#ea0008;
--darkblue:#ffa500;
--blackblue:#29324c;
--green:#00b365
--orange:#ff6600
-------------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Sarabun:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700');

/* Global */
body { font-family:'Roboto Condensed', 'Kanit';}
h1, h2, h3, h4, h5, h6 { font-family:'Roboto Condensed', 'Kanit';}
a { color:#007dea;}
a:hover { color:#ea0008;}
p { font-weight:400;}
.b400 { font-weight:400;}
.b500 { font-weight:500;}
.b600 { font-weight:600;}


/* Header */
.header_area { padding:10px 0px; border-bottom:1px solid rgba(0,0,0,0.15); background: rgba(255, 255, 255, 0); transition:.3s;}
.header_area .menu_area {}
.header_area .menu_area .navbar { padding:0;}
/* Brand */
.menu_area .navbar-brand { color:#111; text-shadow:none; font-size:16px; line-height:16px; transition:.2s;}
.menu_area .navbar-brand:hover, .menu_area .navbar-brand:focus { color:#333; transition:.2s;}
.menu_area .navbar-brand .sitename { font-size:18px;}
/*.menu_area .navbar-brand:hover .sitename, .menu_area .navbar-brand:focus .sitename { color:#37a7ff; transition:.2s;}*/
.menu_area .navbar-brand .sitedesc { font-size:13px;}
/* Menu */
.menu_area #nav .nav-item > a { font-size:17px; font-weight:300; color:#111; line-height: 21px;
                                padding:5px 15px; transition:.2s; text-transform:uppercase; text-align:center; text-shadow:none;
                                border-radius: 3px; padding-bottom:8px;
}
.menu_area #nav .nav-item > a:hover { color:#000; transition:.3s; background-color: rgba(0,0,0,0.03); box-shadow: 0 0 6px rgba(0,0,0,0.05) inset;}
.menu_area #nav .nav-item > a > small { display:table; width:100%; font-size:11px; line-height:11px; color:#999;}
.section-heading > h2 b { font-weight: 600; color: #00b365; }
/* Sticky */
.header_area.sticky { padding:5px 0; background-color:#fff; border-bottom:1px solid rgba(0,0,0,0.15); box-shadow: 0 3px 30px rgba(0,0,0,0.1); transition:.3s; height: auto; }
.header_area.sticky .menu_area { padding-top:0;}
.header_area.sticky .menu_area .navbar-brand { text-shadow:none; font-size:16px; line-height:16px;}
.header_area.sticky .menu_area #nav .nav-item .nav-link { font-size:17px;}
.header_area.sticky .menu_area #nav .nav-item.active .nav-link { color:#00b32d;background-color:rgba(0,0,0,0.03); border-radius: 3px; box-shadow: 0 0 6px rgba(0,0,0,0.05) inset;}
.header_area.sticky .menu_area #nav .nav-item > a:hover { color:#00b365;}
.header_area.sticky .menu_area #nav .nav-item > a > small { }
.sing-up-button { padding-top:10px;}
.sing-up-button > a { background-color: #111; font-weight:400; font-size:13px;}
.sing-up-button > a:hover { background-color: #ff6600;}

/* Paralax */
.parallax { background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; }
.parallax_group { position: relative; height: 100vh; -webkit-transform-style: preserve-3d; transform-style: preserve-3d;}
.parallax_layer { position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
.parallax_layer_fore { -webkit-transform: translateZ(90px) scale(.7); transform: translateZ(90px) scale(.7); z-index: 1;}
.parallax_layer_deep { -webkit-transform: translateZ(-600px) scale(3); transform: translateZ(-600px) scale(3); z-index: 2;}
.parallax_layer_base { -webkit-transform: translateZ(0); transform: translateZ(0); z-index: 4;}
.parallax_layer_back { -webkit-transform: translateZ(-300px) scale(2); transform: translateZ(-300px) scale(2); z-index: 3;}

/* Wellcome */
.wellcome_area { height: 720px; box-shadow: 0 -10px 60px rgba(0,0,0,0.1) inset; }
.wellcome-thumb { width: 100%; top:30%; position: absolute; text-align: center;}
.wellcome-thumb-1 { width: 100%; bottom:5%; position: absolute; text-align: center;}
.wellcome-thumb-2{margin: auto ;position: absolute;top:25% ;width:100%}
.wellcome-thumb img { max-width:100%; max-height:600px;}
.wellcome-heading { }
.wellcome-heading > h2 { font-size:38px; font-weight:600; text-transform:uppercase; color:#fff; text-shadow: 0 1px 3px rgba(0,0,0,0.1); margin-top:0; text-shadow:1px 1px 3px rgba(0,0,0,0.3);}
.wellcome-heading > h3 { top:-90px; color:rgba(255,255,255,0.8); font-size: 13vw; left: 0;}
.wellcome-heading > p { color:rgba(255,255,255,0.8); text-shadow: none; font-size:18px; font-weight:300;}
.wellcome-heading > p b { color:#fff; font-size:24px;}
.wellcome-heading > p a { color:#fff;}
.wellcome-heading ul.feature li i.fa { color: #ffd700;}
.wellcome-heading ul.feature li { font-weight:400;}

/* Button */
.btn-silver { background: linear-gradient(to bottom,#f7f8fa,#e7e9ec); border-color: #adb1b8 #a2a6ac #8d9096; border-radius: 3px;  color: #333 !important; transition: .2s;}
.btn-silver:hover, .btn-silver:focus, .btn-silver:active { background: linear-gradient(to bottom,#e7eaf0,#d9dce1); border-color: #a2a6ac #979aa1 #82858a; transition: .3s; color: #000;}
.btn-dark { border:1px solid #555; background-color:#555; border-radius: 3px; color:#fff;  transition: .2s;}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active { border:1px solid #000; background-color:#111;  transition: .3s;}
.btn-gold { border:1px solid #ffd700; background-color:#ffd700; border-radius: 3px; color:#111;  transition: .2s;}
.btn-gold:hover, .btn-gold:focus, .btn-gold:active { border:1px solid #ffc200; background-color:#ffc200; color:#000; transition: .3s;}

/* Section */
.section-shadow-top { box-shadow: rgba(0, 0, 0, 0.1) 0px -20px 30px -20px; padding-top:100px;}
.section-shadow-bottom { box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 30px -20px; padding-bottom: 50px; margin-bottom:30px; background-color:#fff;}
.app-content-area { font-size:18px;}
/* Partners */
.partners_area { background-color:#fff;padding-top:40px ; border-top:1px solid rgba(0,0,0,0.1);}
.partners_area .logo { -webkit-filter: grayscale(100%);  filter: grayscale(100%); opacity:0.3; transition:.3s}
.partners_area .logo:hover { -webkit-filter: grayscale(0%);  filter: grayscale(0%); opacity:1; transition:.2s}
/* Introduce */
.introduce_area { background-color:#fff;}
.introduce_area .introduce_img { padding:0px; border-style: solid;border-width: 5px;border-color:#00b32d; box-shadow:0 20px 90px -45px rgba(0,0,0,1.0);}
/* Monitor */
.monitor_area { background-color:#fff; border-top:1px solid rgba(0,0,0,0.1);}
.border-img{
   padding:0px; border-style: solid;border-width: 7px;border-color:#fff; box-shadow:0 20px 90px -45px rgba(0,0,0,1.0);

}
/* KeyBenefit */
#keybenefit .section-heading > h2 { text-shadow:0 1px 1px rgba(0,0,0,0.3);}
#keybenefit .single-special { background-color:#fff;}
#keybenefit .single-special p { min-height: 80px;}
#keybenefit .single-special > h4 { color:#00b365;}
#keybenefit .single-special { box-shadow: 0 1px 15px rgba(0,0,0,0.3);}
#keybenefit .single-icon { max-width: 50%; text-align: center; margin:0 auto 35px;}
#keybenefit .single-icon .svg-img { }

/* Procedure */
#procedure .single-feature > h5 { color:#333;}
.single-feature { margin-bottom:15px; padding-bottom:15px; border-bottom:1px dotted #ddd; min-height:60px;}
.single-feature > i {  font-size:48px; color:#00b365; }
.single-feature > p { font-size:17px; font-weight:300; margin-left:65px;}
/* Timeline */
.timeline { list-style: none; padding: 20px 0 20px; position: relative; }
.timeline:before { top: 0; bottom: 0; position: absolute; content: " "; width: 3px; background-color: #eee; left: 50%; margin-left: -1.5px; }
.timeline > li { margin-bottom: 20px; position: relative; }
.timeline > li:before,
.timeline > li:after { content: " "; display: table; }
.timeline > li:after { clear: both; }
.timeline > li:before,
.timeline > li:after { content: " "; display: table; }
.timeline > li:after { clear: both; }
.timeline > li > .timeline-panel { width: 46%; float: left; border: 1px solid #ddd; border-radius: 2px; padding: 20px; position: relative;
                                   -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
                                   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.timeline > li > .timeline-panel:before { position: absolute; top: 26px; right: -15px; display: inline-block; content: " ";
                                          border-top: 15px solid transparent;
                                          border-left: 15px solid #ccc;
                                          border-right: 0 solid #ccc;
                                          border-bottom: 15px solid transparent;
}
.timeline > li > .timeline-panel:after { position: absolute; top: 27px; right: -14px; display: inline-block; content: " ";
                                         border-top: 14px solid transparent;
                                         border-left: 14px solid #fff;
                                         border-right: 0 solid #fff;
                                         border-bottom: 14px solid transparent;
}
.timeline > li > .timeline-badge { color: #fff; width: 50px; height: 50px; line-height: 50px; font-size: 1.4em; text-align: center; position: absolute; top: 16px; left: 50%; margin-left: -25px;
                                   background-color: #999999; z-index: 98; border-radius: 50%;
}
.timeline > li > .timeline-badge > i { font-size:40px; line-height:50px;}
.timeline > li.timeline-inverted > .timeline-panel { float: right;}
.timeline > li.timeline-inverted > .timeline-panel:before { border-left-width: 0; border-right-width: 15px; left: -15px; right: auto; }
.timeline > li.timeline-inverted > .timeline-panel:after { border-left-width: 0; border-right-width: 14px; left: -14px; right: auto; }
.timeline-badge.primary { background-color: #2e6da4 !important; }
.timeline-badge.success { background-color: #3f903f !important; }
.timeline-badge.warning { background-color: #f0ad4e !important; }
.timeline-badge.danger { background-color: #d9534f !important; }
.timeline-badge.info { background-color: #5bc0de !important; }
.timeline-badge.number { background-color: #00b365 !important; }
.timeline-title { margin-top: 0; font-size:20px; font-weight:600; color:#00b365;}
.timeline-body > p { margin-bottom: 0; font-size:16px; font-weight:400;}
.timeline-body > ul { margin-bottom: 0;}
.timeline-body > p + p { margin-top: 5px; }
@media (max-width: 767px) {
   ul.timeline:before { left: 40px; }
   ul.timeline > li > .timeline-panel { width: calc(100% - 90px); width: -moz-calc(100% - 90px); width: -webkit-calc(100% - 90px);}
   ul.timeline > li > .timeline-badge { left: 15px; margin-left: 0; top: 16px; }
   ul.timeline > li > .timeline-panel { float: right; }
   ul.timeline > li > .timeline-panel:before { border-left-width: 0; border-right-width: 15px; left: -15px; right: auto;}
   ul.timeline > li > .timeline-panel:after { border-left-width: 0; border-right-width: 14px; left: -14px; right: auto;}
}

/* Footer */
.footer-text > h2 { color:#00b365; font-size:36px;}
.footer-text > h2 > span { color:#ffa500;}
.footer-social-icon > a > i { background: #00b365;}
.footer-social-icon > a > i.active { background: #ff4dac;}
.footer-social-icon > a > i:hover { background: #29324c;}

#scrollUp { background-color:#111;}


.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 135px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
   margin: auto;
   display: block;
   width: 90%;
   max-width: 815px;
}
.modal-content2 {
   margin: auto;
   display: block;
   width: 90%;
   max-width: 815px;
}

/* Caption of Modal Image */
#caption {
   margin: auto;
   display: block;
   width: 90%;
   max-width: 815px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
}
#caption2 {
   margin: auto;
   display: block;
   width: 90%;
   max-width: 815px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
}
#caption3 {
   margin: auto;
   display: block;
   width: 90%;
   max-width: 815px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
}

/* Add Animation */
.modal-content, #caption {
   -webkit-animation-name: zoom;
   -webkit-animation-duration: 0.6s;
   animation-name: zoom;
   animation-duration: 0.6s;
}
.modal-content, #caption2 {
   -webkit-animation-name: zoom;
   -webkit-animation-duration: 0.6s;
   animation-name: zoom;
   animation-duration: 0.6s;
}
.modal-content, #caption3 {
   -webkit-animation-name: zoom;
   -webkit-animation-duration: 0.6s;
   animation-name: zoom;
   animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
   from {-webkit-transform:scale(0)}
   to {-webkit-transform:scale(1)}
}

@keyframes zoom {
   from {transform:scale(0)}
   to {transform:scale(1)}
}

/* The Close Button */
.close {
   position: absolute;
   top: 70px;
   right: 35px;
   color: #f1f1f1;
   font-size: 40px;
   font-weight: bold;
   transition: 0.3s;
}

.close:hover,
.close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
   .modal-content {
      width: 100%;
   }
}

.contact-input{
   width:250px;
   height:40px ;
   font-size:18px;
   border-radius:8px ;

}
.align_20px{
   padding-left:30px;
   padding-top:30px;
   padding-bottom:30px;
   padding-right:30px;
}
.topic-style{
   text-align:center; font-size:38px;border-bottom:13px solid;width: 200px;border-bottom-color:#00b32d;
}
.margin-space-70{

   margin-top:60px;
   margin-bottom: 100px;
}
.margin-space{
   margin: 20px;

}
.border-color-acordion{
   border-color: #28a745;
   border-bottom:1px solid  #f2f2f2;
   height: 50px;
   //box-shadow: 5px 5px 10px #888888;
}
.border-style-acordion{
   /*   border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;*/
   //border: 1px solid #999;
   border-bottom:1px solid  #f2f2f2;

}
.panel-title{
   color: #333;
   font-weight: 300;
}
.style-font-w300{
   color: #333;
   font-weight: 300;
   margin-top: 20px;

   width: 100%;
}
.whitespace {
   display: block;
   height : 60px;  // ลองปรับดู
}
div .panel-body{
   color: #333;
   font-weight: 300;
}
h5:hover {
   color: #28a745;
}

a:hover{
   color: #28a745;
}
.re_default{
   box-shadow: none;border-radius: 0px;border: none
}
.align_auto{
   width: 100%;height: 100% ;margin: auto
}
.invalid-feedback {

   font-size: 11px;

}
.fa-envelope{
   color:#00cc66;
}
.fa-home{
   color:#00cc66;
}
.fa-phone{
   color:#00cc66;
}

@media (min-width: 300px) {
   h1 {font-size:1.5rem;} /*1rem = 16px*/
   h3 {font-size: 1.25rem}
}
@media (min-width: 544px) {
   h1 {font-size:1.5rem;} /*1rem = 16px*/
   h3 {font-size: 1.25rem}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 604px) {
   h1 {font-size:1.75rem;} /*1rem = 16px*/
   h3 {font-size: 1.25rem}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   h1 {font-size:2.0rem;} /*1rem = 16px*/
   h3 {font-size: 1.5rem}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   h1 {font-size:2.5rem;} /*1rem = 16px*/
   h3 {font-size: 2.25rem}
}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */

.carousel-control-prev-icon, .carousel-control-next-icon {
   height: 80px;
   width: 80px;

   background-size: 100%, 100%;



}
